In [ ]:
You are given a positive integer n . Print a numerical triangle of height n-1 like the one below:

In [ ]:
1
22
333
4444
55555
......

In [ ]:
Input Format
A single line containing integer, n.


Sample Input

5
Sample Output

1
22
333
4444

In [ ]:
for i in range(1,int(input())): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print()

In [7]:
for i in range(1,5):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321

In [8]:
for i in range(1,5):
    print(str(i)*i)

1
22
333
4444

In [9]:
for i in range(1,5):
    print(i * sum([ 10**j for j in range(i)]))

1
22
333
4444

In [10]:

for i in range(1,5):
    print (sum(map(lambda x: i * 10**x, range(i))))

1
22
333
4444

In [13]:
for i in range(1,5):
    print (i * int(bin(2**i - 1)[2:]))

1
22
333
4444

In [17]:
for i in range(1,5):
    print((pow(10,i)//9)*i)

1
22
333
4444